@font-face {
  font-family: 'fontello';
  src: url('../font/fontello.eot?14777567');
  src: url('../font/fontello.eot?14777567#iefix') format('embedded-opentype'),
       url('../font/fontello.woff?14777567') format('woff'),
       url('../font/fontello.ttf?14777567') format('truetype'),
       url('../font/fontello.svg?14777567#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?14777567#fontello') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-down-dir:before { content: '\e800'; } /* '' */
.icon-user:before { content: '\e801'; } /* '' */
.icon-search:before { content: '\e802'; } /* '' */
.icon-left-dir:before { content: '\e803'; } /* '' */
.icon-right-dir:before { content: '\e804'; } /* '' */
.icon-up-dir:before { content: '\e805'; } /* '' */
.icon-plus:before { content: '\e806'; } /* '' */
.icon-facebook:before { content: '\e807'; } /* '' */
.icon-twitter:before { content: '\e808'; } /* '' */
.icon-pinterest:before { content: '\e809'; } /* '' */
.icon-left-open-big:before { content: '\e80a'; } /* '' */
.icon-right-open-big:before { content: '\e80b'; } /* '' */
.icon-gplus:before { content: '\e80c'; } /* '' */
.icon-tumblr:before { content: '\e80d'; } /* '' */
.icon-vimeo:before { content: '\e80e'; } /* '' */
.icon-mail:before { content: '\e80f'; } /* '' */
.icon-down-open-big:before { content: '\e810'; } /* '' */
.icon-up-open-big:before { content: '\e811'; } /* '' */
.icon-minus:before { content: '\e812'; } /* '' */
.icon-home:before { content: '\e813'; } /* '' */

body {
	font-size: 14px;
	color: #999;
	font-weight: normal;
	font-family: Arial, sans-serif;
	background: #fff;
}

.main_wrapper {
	min-width: 1200px;
	width: 1200px;
	margin: 0 auto;
	box-shadow: 0 0 10px 2px rgba(0,0,0,0.6);
}

h1{
	font-weight: normal;
	line-height: 26px;
	font-size: 24px;
}

p {
	font-size: 12px;
	line-height: 18px;
	margin: 0;
}

.clearfix {
	content: "";
	display: table;
	clear: both;
}

.container {
	margin: 0 auto;
	width: 970px;
}

.top_header {
	background: #000;
	color: #fff;
	font-size: 11px;
	text-transform: uppercase;
}

.custom_care {
	float: left;;
	padding: 8px;
}

.top_header_right_block {
	float: right;
	font-size: 0;
}

.logo {
	width: 120px;
	height: 28px;
	float: left;
	margin-right: 170px;
	margin-top: 20px;
}

.menu_header {
	float: left;
	width: 463px;
	margin-top: 20px;
}

.cart {
	float: right;
	width: 214px;
	border: 1px solid #d6d6d6;
}

.cart_field {
	border-bottom: 1px solid #d6d6d6;
	padding: 10px 8px;
	position: relative;
}

.cart_field:after {
	content: '\e800';
	font-family: "fontello";
	color: #c1c1c1;
	position: absolute;
	right: 10px;
	cursor: pointer;
}

.cart_basket {
	padding: 7px 8px;
	background: #fafafa;
	text-align: right;
	position: relative;
}

.cart_basket span {
	text-transform: uppercase;
}

.cart_basket > span:first-child {
	border-right: 2px solid #c0c0c0;
	padding-right: 7px;
}

.cart_basket > span:last-child {
	padding-left: 6px;
}

.cart_basket:before {
	content: url('../img/bag.png');
	position: absolute;
	left: 10px;
}

.subcribe {
	background: #ededed;
	margin-bottom: 23px;
}

.subcribe_form {
	float: left;
	width: 245px;
	padding-top: 14px;
	padding-bottom: 13px;
}

.subcribe_form input[type="text"] {
	width: 107px;
	padding: 6px 48px 6px 5px;
	margin-left: 10px;
	background: #fff;
	outline: none;
	border: none;
	font-family: Arial, sans-serif;
	font-size: 12px;
	font-style: italic;
}

.label_subcribe_form {
	font-size: 12px;
	position: relative;
}

.label_subcribe_form:after {
	content: '\e806';
	position: absolute;
	right: 0;
	top: -7px;
	width: 28px;
	height: 21px;
	background: #fd926d none repeat scroll 0 0;
	border-bottom: 3px solid #DD6B44;
	color: #fff;
	font-family: "fontello";
	text-align: center;
	font-size: 16px;
	cursor: pointer;
	padding-top: 4px;
}

.subcribe_social {
	float: right;
	font-size: 0;
}

.subcribe_social span {
	margin-right: 15px;
	font-size: 12px;
	vertical-align: middle;
}

.main_block {
	margin-bottom: 50px;
}

.main_block_img {
	float: left; 
	font-size: 12px;
	position: relative;
}

.img_with_marg {
	margin: 0 0 2px 2px;
}

.shop_now {
	width: 102px;
	background: #4fafa0;
	position: absolute;
	bottom: 18px;
	left: 30px;
}

.shop_now a{
	display: inline-block;
	color: #fff;
	font-size: 12px;
	text-transform: uppercase;
	text-decoration: none;
	padding: 10px 12px 10px 8px;
}

.shop_now a:after {
	content: '\e804';
	font-family: 'fontello';
	padding-left: 10px;
}

.sort_type {
	width: 490px;
}

.main_products, .main_slider_sort {
	font-size: 0;
}

.main_slider_sort {
	position: relative;
}

.main_slider_sort_item {
	display: inline-block;
	vertical-align: top;
	font-size: 0;
	margin: 0 10px;
	text-align: center;
	position: relative;
	background: #f7f7f7;
	margin-bottom: 30px;
	width: 220px;
	transition: transform ease 0.1s;

}

.main_slider_sort_item:last-child {
	margin-right: 0;
}

.slider_enlarge_item:hover {
    -webkit-transform: scale(1.1);
    -o-transform: scale(1.1);
    -moz-transform: scale(1.1);
    transform: scale(1.1);
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.6);
}

.button {
	display: inline-block;
	vertical-align: top;
	background: #fd926d;
	color: #fff;
	padding: 9px 12px 6px 10px;
	border-width: 0 0 3px;
	border-style: none none solid;
	border-color: #DD6B44;
	outline: 0 none;
}

.sort_item_marg {
	margin-top: 10px;
	margin-bottom: 10px;
}

.button:after {
	content: '\e806';
	font-family: 'fontello';
	padding-left: 10px;
}

.button:active {
	border: none;
	margin-top: 4px;
}

.sort_item_marg:active {
	border: none;
	margin-top: 13px;
}

.main_slider_sort_item a {
	text-decoration: none;
	text-transform: uppercase;
	font-size: 12px;
	font-family: Arial, sans-serif;
	text-align: center;
}

.main_slider_sort_describ {
	display: block;
}

.main_slider_price {
	font-size: 22px;
	color: #373737;
}

.main_slider_sort_title {
	margin-top: 10px;
	margin-bottom: 10px;
	color: #373737;
}

.main_slider_hidden_shop {
	position: absolute;
	width: 135px;
	height: 135px;
	background: #3d3d3d;
	right: 43px;
	top: 80px;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	cursor: pointer;
	display: none;
	justify-content: space-around;
	align-items: center;
}

.main_slider_sort_item:hover .main_slider_hidden_shop {
	display: flex;
}

.main_slider_hidden_shop a {
	display: inline-block;
	text-decoration: none;
	color: #fff;
	position: relative;
	margin-top: 25px;
}

.main_slider_hidden_shop a:before {
	content: url('../img/bag2.png');
	position: absolute;
	bottom: 17px;
	right: 4px;
}

.clearance {
	display: block;
	margin: 0 auto;
}

.main_brands {
	text-align: center;
	border-bottom: 1px solid #d8d8d8;
	margin-top: 30px;
	color: #414141;
	font-size: 15px;
	position: relative;
	padding-bottom: 30px;
}

.main_brands p {
	font-size: 15px;
	padding: 0 20px;
	text-transform: uppercase;
	position: relative;
	z-index: 2;
}

.main_brands:after {
	content: "";
	display: block;
	position: relative;
	bottom: 70px;
	border-top: 1px solid #d8d8d8;
	z-index: 1;
}

.main_brands > img {
	padding-right: 45px;
}

.main_brands > img:last-child {
	padding-right: 0;
}

.main_brands > p, .main_about>h1 {
	text-align: center;
}

.main_about {
	margin-top: 27px;
	margin-bottom: 27px;
}

.main_about h1 {
	margin: 0 0 10px 0;
	color: #414141;
}

.menu_header ul, .filter_list, .column_right_colors, .product_social_list {
	margin: 0;
	padding: 0;
	list-style: none;
	font-size: 0;
}

.menu_header li {
	display: inline-block;
	vertical-align: top;
	text-align: center;
}

.footer_social {
	width: 35px;
	height: 35px;
	background: #4c4c4b;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	margin-right: 10px;
	margin-bottom: 10px;
}

.footer_social:hover {
	background: #fff;
}


.wrapper_footer_social {
	width: 165px;
	position: relative;
}

.wrapper_footer_social li{
	display: inline-block;
	vertical-align: top;
}

.menu_header a {
	display: inline-block;
	padding: 5px 25px 5px 5px;
	text-decoration: none;
	color: #000;
	text-align: center;
	font-size: 16px;
	line-height: 24px; 
}

.block_bottom_nav ul {
	float: left;
	margin: 0;
	padding: 0 35px 0 0;
	list-style: none;
}

.block_bottom_nav a {
	display: block;
	text-decoration: none;
	color: #8b8887;
	font-size: 12px;
	line-height: 18px; 
}

.bottom_nav {
	background: #ededed;
	padding-top: 35px;
	padding-bottom: 35px;
}

.title_bottom_nav {
	font-size: 16px;
	line-height: 20px;
	font-weight: bold;
	margin-bottom: 10px;
	width: 140px;
}

.nav_first {
	width: 160px;
}

.nav_second {
	width: 115px;
}

.nav_thirth {
	width: 155px;
}

.nav_fourth {
	width: 85px;
}

.nav_fifth {
	width: 150px;
}

.footer {
	background: #000;
	color: #808080; 
}

.link_wrapper_footer {
	float: left;
	width: 473px;
	margin-bottom: 28px;
	margin-top: 28px;
	font-size: 0;
}

.rights_footer {
	float: right;
	width: 110px;
	margin-bottom: 20px;
	margin-top: 20px;
}

.breadcrumbs {
	border-top: 1px solid #d6d6d6;
	border-bottom: 1px solid #d6d6d6;
	padding-top: 10px;
	padding-bottom: 10px;
}

.breadcrumbs_list, .page_nav ul, .column_left ul, .wrapper_filter ul {
	margin: 0;
	padding: 0;
	list-style: none;
	font-size: 0;
}

.breadcrumbs li {
	display: inline-block;
	padding-left: 5px;
	vertical-align: top;
	text-align: center;
	font-size: 11px;
	color: #79706d;
}

.breadcrumbs_item a {
	text-decoration: none;
	color: #79706d;
	font-size: 11px;
	line-height: 15px; 
}

.breadcrumbs_item a:after {
	content: '\e80b';
	font-family: 'fontello';
	padding-left: 6px;
	padding-right: 6px;
}

.list_column_left {
	float: left;
	width: 728px;
	margin-bottom: 30px;
}

.list_column_right {
	float: right;
	width: 230px;
}

.without_margin {
	margin-right: 0;
}

.sort_by {
	float: left;
}

.sort_by select {
	margin: 0;
	padding: 9px 0 10px 9px;
	width: 100px;
	border: none;
	outline: none;
	background: #f4f4f4;
}

.sort_by span {
	padding-right: 8px;
}

.page_nav {
	float: right;
	color: #4d4d4d;
	font-size: 0;
	line-height: 14px;
}

.page_nav>span {
	display: inline-block;
	margin-top: 8px;
	margin-right: 17px;
	font-size: 11px;
}

.wrapper_sort_page {
	width: 728px;
	padding-bottom: 13px;
	border-bottom: 1px solid #d6d6d6;
	margin-bottom: 15px;
	color: #4d4d4d;
	font-size: 11px;
	line-height: 14px;
}

.page_nav ul {
	display: inline-block;
	vertical-align: top;
}

.page_nav li {
	display: inline-block;
	margin-right: 5px;
	vertical-align: top;
	text-align: center;
	font-size: 11px;
}

.page_nav li:last-child {
	margin-right: 0;
}

.list_product_page {
	display: block;
	text-decoration: none;
	color: #4d4d4d;
	font-size: 11px;
	line-height: 15px; 
	background: #f4f4f4;
	width: 30px;
	height: 23px;
	text-align: center;
	padding-top: 9px;
}

.list_product_active {
	background: #e5e5e5;
	pointer-events: none;
}

.column_left {
	float: left;
	width: 405px;
	margin-right: 15px;
}

.column_right {
	float: right;
	width: 550px;
}

.column_left li {
	display: inline-block;
	padding-right: 13px;
	vertical-align: top;
	text-align: center;
}

.column_left li:last-child {
	padding-right: 0;
}

.column_left a {
	text-decoration: none;
}

.link_footer {
	display: inline-block;
	color:#8d8d8d;
	font-size: 11px;
	line-height: 20px;
	text-decoration: none;
	padding-right: 20px;
	position: relative;
}

.link_after:after {
	content: '';
	width: 1px;
	height: 10px;
	background: #4b4b4b;
	position: absolute;
	top: 5px;
	right: 9px;
	border-right: 1px solid #646464;
}

.main_cards {
	text-align: center;
	padding: 16px 0;
}

.main_cards span {
	padding-right: 15px;
	vertical-align: top;
	color: #ababab;
	font-size: 12px;
}

.currency, .my_account, .search {
	display: inline-block;
	vertical-align: top;
	padding: 8px 10px;
	cursor: pointer;
	font-size: 11px;
}

.currency {
	width: 40px;
	border-left: 1px #666 solid;
	border-right: 1px #666 solid;
}

.currency:after {
	content: '\e800';
	cursor: pointer;
	width: 10px;
	height: 10px;
	font-family: "fontello";
	padding-left: 10px;
}

.my_account {
	width: 100px;
	border-right: 1px #666 solid;
}

.icon-user {
	padding-right: 7px;
	color: #666;
}

.icon-search {
	font-size: 14px;
	line-height: 12px;
}

.search {
	border-right: 1px #666 solid;
}

.wrapper_menu_header {
	margin: 20px 0;
}

.sort_type_detail {
	float: left;
	color: #555;
	font-size: 15px;
	font-family: Arial, sans-serif;
	text-transform: uppercase;
	background: #fff;
	padding: 19px;
	line-height: 21px; 
	text-decoration: none;
}

.sort_type_active {
	background: #fd926d;
	color: #fff; 
}

.main_slider ul {
	margin: 0;
	padding: 0;
}

.main_slider {
	position: relative;
}

.block_img_height1 {
	height: 340px;
	width: 483px;
}

.block_img_height2 {
	height: 169px;
}

.menu_header_link:after {
	content: '\e800';
	cursor: pointer;
	width: 10px;
	height: 10px;
	font-family: "fontello";
	color: #000;
	padding-left: 5px;
}

.social_icon {
	display: inline-block;
	text-decoration: none;
	font-size: 16px;
	color: #6b6b6b;
	vertical-align: middle;
	padding: 18px 16px;
}

.social_icon:hover {
	background: #f7f7f7;
}

.wrapper_clearance {
	margin-bottom: 25px;
}

.clearance {
	position: relative;
	z-index: 2;
	padding: 0 16px;
	background: #fff;
}

.wrapper_clearance:after {
	content: "";
	position: relative;
	top: -78px;
	display: block;
	border-bottom: 1px solid #d8d8d8;
}

.wrapper_main_cards {
	background: #f7f7f7;
}

.twitter:after, .pinterest:after, .facebook:after, .gplus:after, .tumblr:after, .vimeo:after {
	content: '\e808';
	font-family: "fontello";
	font-size: 16px;
	color: #fff;
	vertical-align: top;
	text-align: center;
	position: absolute;
	top: 38px;
	left: 10px;
}

.pinterest:after {
	content: '\e809';
	left: 60px;
}

.twitter:hover:after, .pinterest:hover:after, .facebook:hover:after, .gplus:hover:after, .tumblr:hover:after, .vimeo:hover:after {
	color: #4c4c4b;
}

.facebook:after {
	content: '\e807';
	left: 111px;
}

.gplus:after {
	content: '\e80c';
	top: 85px;
}

.tumblr:after {
	content: '\e80e';
	top: 85px;
	left: 57px;
}

.vimeo:after {
	content: '\e80d';
	top: 85px;
	left: 110px;
}

.footer_secured {
	padding-top: 20px;
}

.list_column_title, .filter_external_list {
	font-size: 12px;
	font-family: Arial, sans-serif;
	line-height: 16px;
	color: #727272;
	text-transform: uppercase;
}

.filter_external_list {
	padding-bottom: 5px;
	padding-top: 7px;
	border-bottom: 1px solid #d6d6d6;
	position: relative;
}

.list_column_title {
	background: #000;
	color: #fff;
	padding-left: 10px;
	padding-top: 8px;
	padding-bottom: 8px;
}

.list_first_title {
	margin-bottom: 7px;
}

.list_last_title {
	margin-top: 23px;
}

.filter_external_list:after {
	content: '\e806';
	cursor: pointer;
	font-size: 8px;
	color: #000;
	font-family: "fontello";
	position: absolute;
	top: 6px;
	right: 1px;
}

.filter_inserted_list {
	font-size: 11px;
	line-height: 18px;
	text-transform: none;
	padding-left: 18px;
	margin-top: 3px;
	margin-bottom: 3px;
	position: relative;
}

.filter_inserted_list:before {
	content: '';
	width: 6px;
	height: 6px;
	background: #fd926d;
	position: absolute;
	top: 6px;
	left: 6px;
}

.range_controls {
	position: relative;
    margin-top: 34px;
    margin-bottom: 20px;
}

.scale {
	height: 5px;
	background: #e5e5e5;
}

.bar {
	height: 5px;
	background: #fd926d;
	width: 65%;
}

.toggle{
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background:#fd926d;
    position: absolute;
    top: -4px;
    left: -1px;
    border-bottom: 2px solid #dd6b44; 
}

.max_toggle {
	left: 143px;
}

.main_brands_title {
	background: #fff;
	padding-left: 20px;
	padding-right: 20px;
}

.filter {
	margin-bottom: 30px;
}

.filter_price {
	text-transform: uppercase;
	color: #848484;
	font-size: 12px;
}

.filter_button {
	float: right;
	background: #e5e5e5;
	border-width: 0 0 3px;
	border-style: none none solid;
	border-color: #ccc;
	outline: 0 none;
	padding: 11px 23px 9px 18px;
	margin-top: -8px;
	color: #6f6f6f;
	font-size: 12px;
	line-height: 12px;
}

.filter_button:active {
	border: none;
	margin-top: -5px;
}

.filter_size {
	margin-top: 30px;
	margin-bottom: 20px;
	text-transform: uppercase;
	color: #5e5e5e;
}

.filter_list li {
	display: inline-block;
	vertical-align: top;
}

.filter_item {
	display: inline-block;
	vertical-align: top;
	padding-top: 7px;
	font-size: 12px;
	font-family: Arial, sans-serif; 
	text-align: center;
	width: 30px;
	height: 31px;
	margin-right:  10px;
	text-decoration: none;
	color: #4D4D4D;
	background: #F4F4F4;
	box-sizing: border-box;
}

.filter_item_active {
	color: #fff;
	background: #FD926D;
}

.wrapper_right_block_name_price {
	display: inline-block;
	vertical-align: top;
	font-size: 12px;
	margin-left: 10px;
}

.right_block_item {
	border-bottom: 1px solid #d6d6d6;
	padding: 10px 0 9px;
	font-size: 0;
}

.right_block_name {
	text-transform: uppercase;
	color: #5e5e5e;
}

.right_block_price {
	color: #FD926D;
	font-weight: bold;
	font-size: 16px;
}

.wrapper_columns {
	margin-top: 24px;
	margin-bottom: 38px;
}

.back_to a {
	text-decoration: none;
	color: #FD926D;
}

.back_to {
	border-bottom: 1px solid #d6d6d6;
	padding-bottom: 10px;
	margin-bottom: 10px;
	position: relative;
	padding-left: 20px;
}

.back_to:before {
	content: "\e80a";
	font-size: 10px;
	font-family: 'fontello';
	position: absolute;
	left: 0;
}

.column_right>h1 {
	color: #4a4a4a;
	font-size: 24px;
	line-height: 24px;
	margin-top: 16px;
	margin-bottom: 16px;
}

.wrapper_price_reviews .price, .list_product_content_price {
	color: #FD926D;
	font-size: 36px;
	font-weight: bold;
}

.wrapper_price_reviews {
	margin-bottom: 20px;
}

.column_right_form_inner {
	margin-top: 25px;
}

.reviews {
	float: right;
	padding-top: 16px;
	padding-left: 15px;
	font-size: 0;
}

.reviews_title {
	display: inline-block;
	vertical-align: top;
	padding-right: 15px;
	font-size: 14px;
}

.reviews_content {
	width: 9px;
	height: 9px;
	display: inline-block;
	vertical-align: top;
	margin-left: 1px;
	margin-top: 4px;
}

.rev_black {
	background: #000;
}

.rev_half {
	background: linear-gradient(to right, #000000 0%,#000000 50%,#d1d1d1 50%,#d1d1d1 100%);
}

.rev_grey {
	background: #d1d1d1;
}

.right_block_img {
	display: inline-block;
	vertical-align: top;
}

.wrapper_main_img {
	padding-bottom: 12px;
	width: 400px;
	height: 500px;
}

.column_right_form_inner select {
	width: 190px;
	border: none;
	outline: none;
	margin: 0;
	padding: 8px 0 8px 8px;
	background: #f4f4f4;
	font-size: 12px;
	color: #4d4d4d;
	margin-right: 202px;
}

.column_right_colors {
	float: right;
}

.column_right_colors li {
	display: inline-block;
	vertical-align: top;
	width: 30px;
	height: 31px;
	margin-right: 1px;
	cursor: pointer;
}

.column_right_colors li:last-child {
	margin-right: 0;
}

.color1 {
	background: #efebe2;
}

.color2 {
	background: #c9c1c6;
}

.color3 {
	background: #b29b88;
}

.color4 {
	background: #968886;
}

.color5 {
	background: #cde0ef;
}

.wrapper_inner_list {
	border-top: 1px solid #d6d6d6;
	border-bottom: 1px solid #d6d6d6;
	padding-top: 9px;
	padding-bottom: 9px;
	margin-bottom: 24px;
}

.quantity_product {
	position: relative;
}

.quantity_product input[type="text"] {
	padding: 16px 45px;
	text-align: center;
	background: #feb298;
	border: none;
	outline: none;
	width: 50px; /*если убрать ширину, браузер ее сам определяет?*/
}

.quantity_product input[placeholder] {
	color: #fff;
}

.quantity_product:before, .quantity_product:after {
	content: "\e812";
	display: inline-block;
	vertical-align: top;
	font-family: 'fontello';
	font-size: 12px;
	color: #fff;
	position: absolute;
	top: -16px;
	left: 0;
	background: #fd926d;
	padding: 16px 17px 16px;
	border-width: 0 0 3px;
	border-style: none none solid;
	border-color: #DD6B44;
	cursor: pointer;

}

.quantity_product:active:before, .quantity_product:active:after {
	margin-top: 2px;
	border: 0 none;
}

.quantity_product:after {
	content: "\e806";
	left: 95px;
}

.button_product {
	padding: 16px 19px 13px 20px;
}

.product_social {
	text-align: center;
	border-top: 1px solid #d6d6d6;
	border-bottom: 1px solid #d6d6d6;
	margin-bottom: 35px;
}

.product_social_list {
	padding: 20px 0;
}

.product_social_list li {
	display: inline-block;
	vertical-align: top;
	padding-right: 75px;
}

.product_social_list a {
	display: inline-block;
	text-decoration: none;
	color: #4d4d4d;
	text-align: center;
	font-size: 11px;
	line-height: 14px; 
	text-transform: uppercase;
}

.product_social_list a:before {
	font-size: 20px;
	padding: 12px;
	color: #b8a9a4;
	border-radius: 100%;
	border: 1px solid #b8a9a4;
	margin-right: 7px;
}

.product_social_list li:last-child {
	padding-right: 0;
}

.product_social_list a:hover:before {
	color: #fff;
	background: #b8a9a4;
}

.product_section_detailed {
	padding: 20px 0 20px 18px;
	color: #fff;
	cursor: pointer;
}

.product_title {
	text-transform: uppercase;
	font-size: 14px;
	line-height: 20px;
}

.product_title:before {
	content: "\e80b";
	font-family: 'fontello';
	font-size: 10px;
	color: #fff;
	margin-right: 11px;
	padding: 7px 10px;
	background: #f2b9a4;
	border: 1px solid #fff;
}

.section_color1 {
	background: #ffd5c6;
}

.section_color2 {
	background: #ffcab8;
}

.section_color3 {
	background: #ffae92;
}

.section_color4 {
	background: #ffa687;
}

.section_color5 {
	background: #fd926d;
}

.product_section {
	margin-bottom: 40px;
}

.related_products {
	text-align: center;
	margin-bottom: 45px;
}

.related_products_title {
	color: #414141;
	padding-left: 8px;
	padding-right: 8px;
	text-transform: uppercase;
	font-size: 15px;
	z-index: 2;
	background: #fff;
}

.related_products:after {
	content: "";
	display: block;
	position: relative;
	bottom: 11px;
	border-top: 1px solid #d8d8d8;
	z-index: 1;
}

.related_products p {
	z-index: 2;
	position: relative;
}

.main_slider_shop_now {
	width: 165px;
	background: #fd926d;
	position: absolute;
	bottom: 95px;
	left: 265px;
	border-width: 0 0 3px;
	border-style: none none solid;
	border-color: #DD6B44;
}

.main_slider_shop_now a:active {
	border: none;
}

.main_slider_shop_now a{
	display: inline-block;
	vertical-align: top;
	color: #fff;
	font-size: 16px;
	line-height: 24px;
	text-transform: uppercase;
	text-decoration: none;
	padding: 14px 24px 13px 25px;
	outline: 0 none;
}

.main_slider_shop_now a:after {
	content: '\e804';
	font-family: 'fontello';
	padding-left: 20px;
}

.sale {
	width: 50px;
	height: 50px;
	background: linear-gradient(135deg, #1e5799 0%,#4c4c4c 0%,#4c4c4c 50%,#ffffff 50%,#ffffff 100%);
	position: absolute;
	top: 0;
}

.sale span {
	font-size: 10px;
	color: #fff;
	text-transform: uppercase;
	display: inline-block;
	vertical-align: top;
	margin-top: 5px;
	margin-left: -15px;
}

/* 
 * 	Core Owl Carousel CSS File
 *	v1.3.3
 */

/* clearfix */
.owl-carousel .owl-wrapper:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
/* display none until init */
.owl-carousel{
	display: none;
	position: relative;
	width: 100%;
	-ms-touch-action: pan-y;
}
.owl-carousel .owl-wrapper{
	display: none;
	position: relative;
	-webkit-transform: translate3d(0px, 0px, 0px);
}
.owl-wrapper-outer{
	overflow: hidden;
	position: relative;
	width: 100%;
}
.owl-carousel .owl-wrapper-outer.autoHeight{
	-webkit-transition: height 500ms ease-in-out;
	-moz-transition: height 500ms ease-in-out;
	-ms-transition: height 500ms ease-in-out;
	-o-transition: height 500ms ease-in-out;
	transition: height 500ms ease-in-out;
}
	
.owl-carousel .owl-item{
	float: left;
}
.owl-controls .owl-page,
.owl-controls .owl-buttons div{
	cursor: pointer;
}
.owl-controls {
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/* mouse grab icon */
.grabbing { 
    cursor:url(grabbing.png) 8 8, move;
}

/* fix */
.owl-carousel  .owl-wrapper,
.owl-carousel  .owl-item{
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility:    hidden;
	-ms-backface-visibility:     hidden;
  -webkit-transform: translate3d(0,0,0);
  -moz-transform: translate3d(0,0,0);
  -ms-transform: translate3d(0,0,0);
}

/*
* 	Owl Carousel Owl Demo Theme 
*	v1.3.3
*/

.owl-theme .owl-controls{
	margin-top: 10px;
	text-align: center;
}

/* Styling Next and Prev buttons */

.owl-buttons div{
	color: #FFF;
	display: inline-block;
	zoom: 1;
	*display: inline;/*IE7 life-saver */
	margin: 5px;
	padding: 3px 10px;
	font-size: 12px;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30px;
	background: #869791;
	filter: Alpha(Opacity=50);/*IE7 fix*/
	opacity: 0.5;
}
/* Clickable class fix problem with hover on touch devices */
/* Use it for non-touch hover action */
.owl-theme .owl-controls.clickable .owl-buttons div:hover{
	filter: Alpha(Opacity=100);/*IE7 fix*/
	opacity: 1;
	text-decoration: none;
}

/* Styling Pagination*/

.owl-theme .owl-controls .owl-page{
	display: inline-block;
	zoom: 1;
	*display: inline;/*IE7 life-saver */
}

.owl-page span{
	display: block;
	width: 12px;
	height: 12px;
	margin: 5px 7px;
	filter: Alpha(Opacity=50);/*IE7 fix*/
	opacity: 0.5;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
	background: #869791;
}

.owl-theme .owl-controls .owl-page.active span,
.owl-theme .owl-controls.clickable .owl-page:hover span{
	background: #fd926d;
}

/* If PaginationNumbers is true */

.owl-theme .owl-controls .owl-page span.owl-numbers{
	height: auto;
	width: auto;
	color: #FFF;
	padding: 2px 10px;
	font-size: 12px;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30px;
}

/* preloading images */
.owl-item.loading{
	min-height: 150px;
	background: url(AjaxLoader.gif) no-repeat center center
}

/* 
 *  Owl Carousel CSS3 Transitions 
 *  v1.3.2
 */

.owl-origin {
	-webkit-perspective: 1200px;
	-webkit-perspective-origin-x : 50%;
	-webkit-perspective-origin-y : 50%;
	-moz-perspective : 1200px;
	-moz-perspective-origin-x : 50%;
	-moz-perspective-origin-y : 50%;
	perspective : 1200px;
}
/* fade */
.owl-fade-out {
  z-index: 10;
  -webkit-animation: fadeOut .7s both ease;
  -moz-animation: fadeOut .7s both ease;
  animation: fadeOut .7s both ease;
}
.owl-fade-in {
  -webkit-animation: fadeIn .7s both ease;
  -moz-animation: fadeIn .7s both ease;
  animation: fadeIn .7s both ease;
}
/* backSlide */
.owl-backSlide-out {
  -webkit-animation: backSlideOut 1s both ease;
  -moz-animation: backSlideOut 1s both ease;
  animation: backSlideOut 1s both ease;
}
.owl-backSlide-in {
  -webkit-animation: backSlideIn 1s both ease;
  -moz-animation: backSlideIn 1s both ease;
  animation: backSlideIn 1s both ease;
}
/* goDown */
.owl-goDown-out {
  -webkit-animation: scaleToFade .7s ease both;
  -moz-animation: scaleToFade .7s ease both;
  animation: scaleToFade .7s ease both;
}
.owl-goDown-in {
  -webkit-animation: goDown .6s ease both;
  -moz-animation: goDown .6s ease both;
  animation: goDown .6s ease both;
}
/* scaleUp */
.owl-fadeUp-in {
  -webkit-animation: scaleUpFrom .5s ease both;
  -moz-animation: scaleUpFrom .5s ease both;
  animation: scaleUpFrom .5s ease both;
}

.owl-fadeUp-out {
  -webkit-animation: scaleUpTo .5s ease both;
  -moz-animation: scaleUpTo .5s ease both;
  animation: scaleUpTo .5s ease both;
}
/* Keyframes */
/*empty*/
@-webkit-keyframes empty {
  0% {opacity: 1}
}
@-moz-keyframes empty {
  0% {opacity: 1}
}
@keyframes empty {
  0% {opacity: 1}
}
@-webkit-keyframes fadeIn {
  0% { opacity:0; }
  100% { opacity:1; }
}
@-moz-keyframes fadeIn {
  0% { opacity:0; }
  100% { opacity:1; }
}
@keyframes fadeIn {
  0% { opacity:0; }
  100% { opacity:1; }
}
@-webkit-keyframes fadeOut {
  0% { opacity:1; }
  100% { opacity:0; }
}
@-moz-keyframes fadeOut {
  0% { opacity:1; }
  100% { opacity:0; }
}
@keyframes fadeOut {
  0% { opacity:1; }
  100% { opacity:0; }
}
@-webkit-keyframes backSlideOut {
  25% { opacity: .5; -webkit-transform: translateZ(-500px); }
  75% { opacity: .5; -webkit-transform: translateZ(-500px) translateX(-200%); }
  100% { opacity: .5; -webkit-transform: translateZ(-500px) translateX(-200%); }
}
@-moz-keyframes backSlideOut {
  25% { opacity: .5; -moz-transform: translateZ(-500px); }
  75% { opacity: .5; -moz-transform: translateZ(-500px) translateX(-200%); }
  100% { opacity: .5; -moz-transform: translateZ(-500px) translateX(-200%); }
}
@keyframes backSlideOut {
  25% { opacity: .5; transform: translateZ(-500px); }
  75% { opacity: .5; transform: translateZ(-500px) translateX(-200%); }
  100% { opacity: .5; transform: translateZ(-500px) translateX(-200%); }
}
@-webkit-keyframes backSlideIn {
  0%, 25% { opacity: .5; -webkit-transform: translateZ(-500px) translateX(200%); }
  75% { opacity: .5; -webkit-transform: translateZ(-500px); }
  100% { opacity: 1; -webkit-transform: translateZ(0) translateX(0); }
}
@-moz-keyframes backSlideIn {
  0%, 25% { opacity: .5; -moz-transform: translateZ(-500px) translateX(200%); }
  75% { opacity: .5; -moz-transform: translateZ(-500px); }
  100% { opacity: 1; -moz-transform: translateZ(0) translateX(0); }
}
@keyframes backSlideIn {
  0%, 25% { opacity: .5; transform: translateZ(-500px) translateX(200%); }
  75% { opacity: .5; transform: translateZ(-500px); }
  100% { opacity: 1; transform: translateZ(0) translateX(0); }
}
@-webkit-keyframes scaleToFade {
  to { opacity: 0; -webkit-transform: scale(.8); }
}
@-moz-keyframes scaleToFade {
  to { opacity: 0; -moz-transform: scale(.8); }
}
@keyframes scaleToFade {
  to { opacity: 0; transform: scale(.8); }
}
@-webkit-keyframes goDown {
  from { -webkit-transform: translateY(-100%); }
}
@-moz-keyframes goDown {
  from { -moz-transform: translateY(-100%); }
}
@keyframes goDown {
  from { transform: translateY(-100%); }
}

@-webkit-keyframes scaleUpFrom {
  from { opacity: 0; -webkit-transform: scale(1.5); }
}
@-moz-keyframes scaleUpFrom {
  from { opacity: 0; -moz-transform: scale(1.5); }
}
@keyframes scaleUpFrom {
  from { opacity: 0; transform: scale(1.5); }
}

@-webkit-keyframes scaleUpTo {
  to { opacity: 0; -webkit-transform: scale(1.5); }
}
@-moz-keyframes scaleUpTo {
  to { opacity: 0; -moz-transform: scale(1.5); }
}
@keyframes scaleUpTo {
  to { opacity: 0; transform: scale(1.5); }
}

.main_slider span, .list_product_slider span{
	width: 10px;
	height: 10px;
	background: #867a76;
	opacity: 1;
}

.main_slider .owl-prev, .main_slider .owl-next {
	position: absolute;
	width: 30px;
	height: 115px;
	background: #fff;
	opacity: 0.9;
	top: 110px;
	border-radius: 0;
	margin: 50px 0 0 0;
}

.main_slider .owl-prev {
	left: 0;
}

.main_slider .owl-prev:before, .main_slider .owl-next:before {
	font-family: 'fontello';
	font-size: 30px;
	color: #cbcbca;
	margin-top: 45px;
	display: inline-block;
	vertical-align: top;
}

.main_slider .owl-prev:before, .main_slider_sort .owl-prev:before, .list_product_slider .owl-prev:before {
	content: '\e80a';
}

.main_slider .owl-next:before, .main_slider_sort .owl-next:before, .list_product_slider .owl-next:before {
	content: '\e80b';
}

.main_slider .owl-next {
	right: 0;
}

.main_slider_item {
	position: relative;
}

.main_slider_item:after {
	content: "";
	background: #000;
	height: 7px;
	opacity: 0.2;
	width: 100%;
	display: block;
	position: absolute;
	bottom: 4px;
	
}

.main_slider_sort .owl-wrapper {
	background: #fd926d;
	padding: 30px 0 0 0;
}

.main_slider_sort .owl-prev, .main_slider_sort .owl-next {
	position: absolute;
	width: 47px;
	height: 47px;
	background: #f2f2f2;
	top: -47px;
	right: 110px;
	border-radius: 0;
	opacity: 1;
	margin: 0;
	padding: 0;
}

.main_slider_sort .owl-prev:hover, .main_slider_sort .owl-next:hover {
	background: #fd926d;
}

.main_slider_sort .owl-prev {
	right: 155px;
}

.main_slider_sort .owl-prev:before, .main_slider_sort .owl-next:before {
	font-family: 'fontello';
	font-size: 30px;
	color: #979797;
	margin-top: 10px;
	display: inline-block;
	vertical-align: top;
}

.main_slider_sort .owl-prev:hover:before, .main_slider_sort .owl-next:hover:before {
	color: #fff;
}

.list_product_slider {
	margin-top: 20px;
	margin-bottom: 25px;
	width: 970px;
	position: relative;
}

.list_product_content, .list_product_content_img {
	display: inline-block;
	vertical-align: top;
}

.list_product_content {
	width: 360px;
	margin-top: 60px;
	margin-left: 15px;
}

.list_product_content_title {
	color: #4a4a4a;
	margin: 0 0 30px 0;
}

.list_product_content_price {
	margin-bottom: 35px;
}

.list_product_content a {
	text-decoration: none;
}

.list_product_content_button {
	padding: 18px;
	text-transform: uppercase;
	margin-top: 30px;
}

.list_product_slider_item {
	border-bottom: 1px solid #d6d6d6;
}

.list_product_slider .owl-page span {
	color: #867a76;
}

.list_product_slider .owl-prev, .list_product_slider .owl-next {
	position: absolute;
	background: transparent;
	top: 160px;
}

.list_product_slider .owl-prev {
	left: 0;
}

.list_product_slider .owl-next {
	right: 0;
}

.list_product_slider .owl-prev:before, .list_product_slider .owl-next:before {
	font-family: 'fontello';
	font-size: 30px;
	color: #979797;
	display: inline-block;  /*обязательно делать инлайн-блочными?*/
	vertical-align: top;
	font-weight: bold;
}

.jq-checkbox {
	top: -1px;
	vertical-align: middle;
	width: 16px;
	height: 16px;
	margin: 0 4px 0 0;
	border: 1px solid #C3C3C3;
	border-radius: 3px;
	background: #F5F5F5;
	background: -webkit-linear-gradient(#FFF, #E6E6E6);
	background:         linear-gradient(#FFF, #E6E6E6);
	box-shadow: 0 1px 1px rgba(0,0,0,.05), inset -1px -1px #FFF, inset 1px -1px #FFF;
	cursor: pointer;
}
.jq-checkbox.checked .jq-checkbox__div {
	width: 12px;
	height: 12px;
	margin: 2px 0 0 2px;
	border-radius: 2px;
	background: #666;
	box-shadow: inset 0 -3px 6px #AAA;
}
.jq-checkbox.focused {
	border: 1px solid #08C;
}
.jq-checkbox.disabled {
	opacity: .55;
}


.jq-radio {
	top: -1px;
	vertical-align: middle;
	width: 16px;
	height: 16px;
	margin: 0 4px 0 0;
	border: 1px solid #C3C3C3;
	border-radius: 50%;
	background: #F5F5F5;
	background: -webkit-linear-gradient(#FFF, #E6E6E6);
	background:         linear-gradient(#FFF, #E6E6E6);
	box-shadow: 0 1px 1px rgba(0,0,0,.05), inset -1px -1px #FFF, inset 1px -1px #FFF;
	cursor: pointer;
}
.jq-radio.checked .jq-radio__div {
	width: 10px;
	height: 10px;
	margin: 3px 0 0 3px;
	border-radius: 50%;
	background: #777;
	box-shadow: inset 1px 1px 1px rgba(0,0,0,.7);
}
.jq-radio.focused {
	border: 1px solid #08C;
}
.jq-radio.disabled {
	opacity: .55;
}


.jq-file {
	width: 270px;
	border-radius: 4px;
	box-shadow: 0 1px 2px rgba(0,0,0,.1);
}
.jq-file input {
	height: auto;
	line-height: 1em;
	cursor: pointer;
}
.jq-file__name {
	overflow: hidden;
	box-sizing: border-box;
	width: 100%;
	height: 34px;
	padding: 0 80px 0 10px;
	border: 1px solid #CCC;
	border-bottom-color: #B3B3B3;
	border-radius: 4px;
	background: #FFF;
	box-shadow: inset 1px 1px #F1F1F1;
	font: 14px/32px Arial, sans-serif;
	color: #333;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.jq-file__browse {
	position: absolute;
	top: 1px;
	right: 1px;
	padding: 0 10px;
	border-left: 1px solid #CCC;
	border-radius: 0 4px 4px 0;
	background: #F5F5F5;
	background: -webkit-linear-gradient(#FFF, #E6E6E6);
	background:         linear-gradient(#FFF, #E6E6E6);
	box-shadow: inset 1px -1px #F1F1F1, inset -1px 0 #F1F1F1, 0 1px 2px rgba(0,0,0,.1);
	font: 14px/32px Arial, sans-serif;
	color: #333;
	text-shadow: 1px 1px #FFF;
}
.jq-file:hover .jq-file__browse {
	background: #E6E6E6;
	background: -webkit-linear-gradient(#F6F6F6, #E6E6E6);
	background:         linear-gradient(#F6F6F6, #E6E6E6);
}
.jq-file:active .jq-file__browse {
	background: #F5F5F5;
	box-shadow: inset 1px 1px 3px #DDD;
}
.jq-file.focused .jq-file__name {
	border: 1px solid #5794BF;
}
.jq-file.disabled,
.jq-file.disabled .jq-file__name,
.jq-file.disabled .jq-file__browse {
	border-color: #CCC;
	background: #F5F5F5;
	box-shadow: none;
	color: #888;
}


.jq-number {
	position: relative;
	display: inline-block;
	vertical-align: middle;
	padding: 0 36px 0 0;
}
.jq-number__field {
	width: 100px;
	border: 1px solid #CCC;
	border-bottom-color: #B3B3B3;
	border-radius: 4px;
	box-shadow: inset 1px 1px #F1F1F1, 0 1px 2px rgba(0,0,0,.1);
}
.jq-number__field:hover {
	border-color: #B3B3B3;
}
.jq-number__field input {
	box-sizing: border-box;
	width: 100%;
	padding: 8px 9px;
	border: none;
	outline: none;
	background: none;
	font: 14px Arial, sans-serif;
	color: #333;
	text-align: left; /* для Opera Presto */
	-moz-appearance: textfield;
}
.jq-number__field input::-webkit-inner-spin-button,
.jq-number__field input::-webkit-outer-spin-button {
	margin: 0; /* в каких-то браузерах присутствует отступ */
	-webkit-appearance: none;
}
.jq-number__spin {
	position: absolute;
	top: 0;
	right: 0;
	width: 32px;
	height: 14px;
	border: 1px solid #CCC;
	border-bottom-color: #B3B3B3;
	border-radius: 4px;
	background: #F5F5F5;
	background: -webkit-linear-gradient(#FFF, #E6E6E6);
	background:         linear-gradient(#FFF, #E6E6E6);
	box-shadow: 0 1px 2px rgba(0,0,0,.1);
	box-shadow: inset 1px -1px #F1F1F1, inset -1px 0 #F1F1F1, 0 1px 2px rgba(0,0,0,.1);
	-webkit-user-select: none;
	   -moz-user-select: none;
	    -ms-user-select: none;
	        user-select: none;
	text-shadow: 1px 1px #FFF;
	cursor: pointer;
}
.jq-number__spin.minus {
	top: auto;
	bottom: 0;
}
.jq-number__spin:hover {
	background: #E6E6E6;
	background: -webkit-linear-gradient(#F6F6F6, #E6E6E6);
	background:         linear-gradient(#F6F6F6, #E6E6E6);
}
.jq-number__spin:active {
	background: #F5F5F5;
	box-shadow: inset 1px 1px 3px #DDD;
}
.jq-number__spin:after {
	content: '';
	position: absolute;
	top: 4px;
	left: 11px;
	width: 0;
	height: 0;
	border-right: 5px solid transparent;
	border-bottom: 5px solid #999;
	border-left: 5px solid transparent;
}
.jq-number__spin.minus:after {
	top: 5px;
	border-top: 5px solid #999;
	border-right: 5px solid transparent;
	border-bottom: none;
	border-left: 5px solid transparent;
}
.jq-number__spin.minus:hover:after {
	border-top-color: #000;
}
.jq-number__spin.plus:hover:after {
	border-bottom-color: #000;
}
.jq-number.focused .jq-number__field {
	border: 1px solid #5794BF;
}
.jq-number.disabled .jq-number__field,
.jq-number.disabled .jq-number__spin {
	border-color: #CCC;
	background: #F5F5F5;
	box-shadow: none;
	color: #888;
}
.jq-number.disabled .jq-number__spin:after {
	border-bottom-color: #AAA;
}
.jq-number.disabled .jq-number__spin.minus:after {
	border-top-color: #AAA;
}


.jq-selectbox {
	vertical-align: middle;
	cursor: pointer;
}
.jq-selectbox__select {
	font: 11px Arial, sans-serif;
	color: #4d4d4d;
	margin: 0;
	padding: 8px 0 10px 9px;
	border: none;
	outline: none;
	background: #f4f4f4;
}

.sort_by_width {
	width: 100px;
}

.select_size_detailed {
	width: 190px;
}

.jq-selectbox__select:active {
	box-shadow: inset 1px 1px 3px #DDD;
}

.jq-selectbox.disabled .jq-selectbox__select {
	border-color: #CCC;
	background: #F5F5F5;
	box-shadow: none;
	color: #888;
}
.jq-selectbox__select-text {
	display: block;
	overflow: hidden;
	width: 100%;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.jq-selectbox .placeholder {
	color: #888;
}
.jq-selectbox__trigger {
	position: absolute;
	top: 0;
	right: 0;
	width: 34px;
	height: 100%;
	background: #e5e5e5;
}
.jq-selectbox__trigger-arrow {
	position: absolute;
	top: 14px;
	right: 12px;
	width: 0;
	height: 0;
	border-top: 5px solid #999;
	border-right: 5px solid transparent;
	border-left: 5px solid transparent;
}
.jq-selectbox:hover .jq-selectbox__trigger-arrow {
	border-top-color: #000;
}
.jq-selectbox.disabled .jq-selectbox__trigger-arrow {
	border-top-color: #AAA;
}
.jq-selectbox__dropdown {
	box-sizing: border-box;
	width: 100%;
	margin: 2px 0 0;
	padding: 0;
	border-radius: 4px;
	background: #FFF;
	box-shadow: 0 2px 10px rgba(0,0,0,.2);
	font: 11px Arial, sans-serif;
}
.jq-selectbox__search {
	margin: 5px;
}
.jq-selectbox__search input {
	box-sizing: border-box;
	width: 100%;
	margin: 0;
	padding: 5px 27px 6px 8px;
	border: 1px solid #CCC;
	border-radius: 3px;
	outline: none;
	background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAMCAYAAABiDJ37AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAO1JREFUeNqU078LAXEYx/FzYfNzk5TJaFNKYjFYSQZ/hvwBsvg1UCY2xT9gM8hukQGThWRjkcFw3pdnujhfT736Xn2fPvfc3fd07V0OFDDFAnM0ENYsZRiGLSc9OpqIYIA9fMhhjCrW2h9VlMlcH/aymMGtOqEugX08PwQucUZKdTozMIqdTc9WepQD7wjY9ARx+ydwhfyXfS+S0qMcOEQJGcueB3VccFINdMgal6NzkmPjRwJXxDBB7/2RDdtAp6wb+dpphHDASG5QQ0V6u2aoSqBZD/lDrNWRJynLK2qpBn4rc6K2XB9/Nb8EGABtf1thzY6X2AAAAABJRU5ErkJggg==) no-repeat 100% 50%;
	box-shadow: inset 1px 1px #F1F1F1;
	color: #333;
	-webkit-appearance: textfield;
}
.jq-selectbox__search input::-webkit-search-cancel-button,
.jq-selectbox__search input::-webkit-search-decoration {
	-webkit-appearance: none;
}
.jq-selectbox__not-found {
	margin: 5px;
	padding: 5px 8px 6px;
	background: #F0F0F0;
	font-size: 13px;
}
.jq-selectbox ul {
	margin: 0;
	padding: 0;
}
.jq-selectbox li {
	min-height: 14px;
	padding: 5px 10px 6px;
	-webkit-user-select: none;
	   -moz-user-select: none;
	    -ms-user-select: none;
	        user-select: none;
	white-space: nowrap;
	color: #4D4D4D;
}
.jq-selectbox li.selected {
	background-color: #f4f4f4;
	color: #4D4D4D;
}
.jq-selectbox li:hover {
	background-color: #08C;
	color: #FFF;
}
.jq-selectbox li.disabled {
	color: #AAA;
}
.jq-selectbox li.disabled:hover {
	background: none;
}
.jq-selectbox li.optgroup {
	font-weight: bold;
}
.jq-selectbox li.optgroup:hover {
	background: none;
	color: #231F20;
	cursor: default;
}
.jq-selectbox li.option {
	padding-left: 25px;
}


.jq-select-multiple {
	box-sizing: border-box;
	padding: 1px;
	border: 1px solid #CCC;
	border-bottom-color: #B3B3B3;
	border-radius: 4px;
	background: #FFF;
	box-shadow: inset 1px 1px #F1F1F1, 0 1px 2px rgba(0,0,0,.1);
	font: 14px/18px Arial, sans-serif;
	color: #333;
	cursor: default;
}
.jq-select-multiple.focused {
	border: 1px solid #5794BF;
}
.jq-select-multiple.disabled {
	border-color: #CCC;
	background: #F5F5F5;
	box-shadow: none;
	color: #888;
}
.jq-select-multiple ul {
	margin: 0;
	padding: 0;
}
.jq-select-multiple li {
	padding: 3px 9px 4px;
	list-style: none;
	-webkit-user-select: none;
	   -moz-user-select: none;
	    -ms-user-select: none;
	        user-select: none;
	white-space: nowrap;
}
.jq-select-multiple li:first-child {
	border-radius: 3px 3px 0 0;
}
.jq-select-multiple li:last-child {
	border-radius: 0 0 3px 3px;
}
.jq-select-multiple li.selected {
	background: #08C;
	color: #FFF;
}
.jq-select-multiple li.disabled {
	color: #AAA;
}
.jq-select-multiple.disabled li.selected,
.jq-select-multiple li.selected.disabled {
	background: #CCC;
	color: #FFF;
}
.jq-select-multiple li.optgroup {
	font-weight: bold;
}
.jq-select-multiple li.option {
	padding-left: 25px;
}


input[type='email'].styler,
input[type='password'].styler,
input[type='search'].styler,
input[type='tel'].styler,
input[type='text'].styler,
input[type='url'].styler,
textarea.styler {
	padding: 8px 9px;
	border: 1px solid #CCC;
	border-bottom-color: #B3B3B3;
	border-radius: 4px;
	box-shadow: inset 1px 1px #F1F1F1, 0 1px 2px rgba(0,0,0,.1);
	font: 14px Arial, sans-serif;
	color: #333;
}
input[type='search'].styler {
	-webkit-appearance: none;
}
textarea.styler {
	overflow: auto;
}
input[type='email'].styler:hover,
input[type='password'].styler:hover,
input[type='search'].styler:hover,
input[type='tel'].styler:hover,
input[type='text'].styler:hover,
input[type='url'].styler:hover,
textarea.styler:hover {
	border-color: #B3B3B3;
}
input[type='email'].styler:focus,
input[type='password'].styler:focus,
input[type='search'].styler:focus,
input[type='tel'].styler:focus,
input[type='text'].styler:focus,
input[type='url'].styler:focus,
textarea.styler:focus {
	border-color: #CCC;
	border-top-color: #B3B3B3;
	outline: none;
	box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
}
button.styler,
input[type='button'].styler,
input[type='submit'].styler,
input[type='reset'].styler {
	overflow: visible;
	padding: 8px 11px;
	border: 1px solid #CCC;
	border-bottom-color: #B3B3B3;
	border-radius: 4px;
	outline: none;
	background: #F5F5F5;
	background: -webkit-linear-gradient(#FFF, #E6E6E6);
	background:         linear-gradient(#FFF, #E6E6E6);
	box-shadow: inset 1px -1px #F1F1F1, inset -1px 0 #F1F1F1, 0 1px 2px rgba(0,0,0,.1);
	font: 14px Arial, sans-serif;
	color: #333;
	text-shadow: 1px 1px #FFF;
	cursor: pointer;
}
button.styler::-moz-focus-inner,
input[type='button'].styler::-moz-focus-inner,
input[type='submit'].styler::-moz-focus-inner,
input[type='reset'].styler::-moz-focus-inner {
	padding: 0;
	border: 0;
}
button.styler:not([disabled]):hover,
input[type='button'].styler:not([disabled]):hover,
input[type='submit'].styler:not([disabled]):hover,
input[type='reset'].styler:hover {
	background: #E6E6E6;
	background: -webkit-linear-gradient(#F6F6F6, #E6E6E6);
	background:         linear-gradient(#F6F6F6, #E6E6E6);
}
button.styler:not([disabled]):active,
input[type='button'].styler:not([disabled]):active,
input[type='submit'].styler:not([disabled]):active,
input[type='reset'].styler:active {
	background: #F5F5F5;
	box-shadow: inset 1px 1px 3px #DDD;
}
button.styler[disabled],
input[type='button'].styler[disabled],
input[type='submit'].styler[disabled] {
	border-color: #CCC;
	background: #F5F5F5;
	box-shadow: none;
	color: #888;
}

.product_section_toggle {
	border-top: 1px solid #fd926d;
	display: none;
	padding: 20px 0px 20px 18px;
	color: #fff;
}












