@font-face {
  font-family: 'Lora';
  src: url('../fonts/Lora-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
	font-family: "OpenSans";
	font-style: normal;
	font-weight: normal;

	src: url("../fonts/opensans.woff2") format("woff2"),
	url("../fonts/opensans.woff") format("woff");
}

body {
	font-size: 12px;
	line-height: 16px;
	color: $main-color;
	font-weight: normal;
	font-family: "OpenSans", Arial, sans-serif;
	font-style: normal; 
	margin: 0;
	padding: 0;
}

.main-wrapper {
	max-width: 1400px;
	margin: 0 auto;
}

.main__title {
	color: $dark-color;
	font-size: 42px;
	line-height: 48px;
	font-weight: 900;
	font-family: "Lora", "Times New Roman", serif;
	text-align: center;
	text-transform: uppercase;


	& > span {
		padding-bottom: 17px;
		box-shadow: 0px 35px 0px -30px rgba(0, 165, 255, 1);
	}

	&--services {
		margin: 0 0 120px 0;
	}

	&--portfolio {
		margin-bottom: 70px;
	}

	&--contacts {
		color: $main-color;
	}
}

.up-button {
	position: absolute;
	width: 67px;
	height: 67px;
	background: $highlight-color url(../img/up.png) no-repeat center;
	border-radius: 50%;
	top: -33px;
	left: 45%;
	cursor: pointer;

	&:hover {
		background-color: #23b1ff;
	}
}

@media (max-width: 500px) {

	.main__title--services {
		margin: 50px 0 80px 0;
	}
}
