.portfolio {
	background: $main-color;
	padding: 45px 0 70px 0;

	&__list {
		@include flexbox(flex-start);
		justify-content: center;
		flex-wrap: wrap;
	}
}

.portfolio__wrapper {
	@include container;
}

.portfolio__item-link {
	text-decoration: none; 
}

.portfolio__item {
	background: #f4f5f9;
	width: 380px;
	margin: 0 15px 15px 0; 
	box-shadow: 0 0 10px -3px #000101;
	cursor: pointer;
	transition: transform ease 0.1s;

	&-name {
		color: #999999;
		font-size: 18px;
		line-height: 24px;
		font-weight: 700;
		font-family: "OpenSans", Arial, sans-serif;
		margin: 30px 0 30px 33px;
	}

	&:nth-child(3n+3) {
		margin-right: 0;
	} 

	&:hover {
		transform: scale(1.05);
	}
}

@media (max-width: 1199px) {

	.portfolio__item:nth-child(3n+3) {
		margin-right: 15px;
	}

	.portfolio__item:nth-child(even) {
		margin-right: 0;
	}
} 

@media (max-width: 840px) {

	.portfolio__item {
		margin-right: 0;
	}

	.portfolio__item:nth-child(3n+3) {
		margin-right: 0;
	}
}

@media (max-width: 500px) {

	.portfolio__item {
		width: 300px;
		overflow: hidden;
	}
}
