.welcome__wrapper {
	max-width: 750px;
	height: 350px;
	color: $main-color;
	margin: 170px 0 135px 0;
	text-align: center;
}

.welcome__title {
	font-size: 58px;
	line-height: 64px;
	font-weight: 900;
	font-family: "Lora", "Times New Roman", serif;
}

.welcome__intro {
	font-size: 25px;
	line-height: 31px;
	font-family: "OpenSans", Arial, sans-serif;	
	margin: 70px 0 40px 200px;
	position: relative;

	&:before {
		content: url(../img/w1.png);
		position: absolute;
		left: -190px;
	}
}

.welcome__but {
	border: none;
	outline: none;
	background: $highlight-color;
	color: $main-color;
	font-size: 25px;
	line-height: 31px;
	font-family: "OpenSans", Arial, sans-serif;
	font-weight: 700;
	padding: 20px 50px;
	text-align: center;
	border-radius: 40px;
	box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.25);
	margin-left: 200px;

	&:hover {
		background: #23b1ff;
	}

	&--form {
		padding: 10px 50px;
	};
}

@media (max-width: 500px) {

	.welcome__wrapper {
		margin: 100px 0 55px 0;
	}

	.welcome__title {
		font-size: 40px;
		line-height: 46px;
	}

	.welcome__intro {
		font-size: 20px;
		line-height: 26px;
		margin-left: 0;

		&:before {
			content:"";
		}
	}

	.welcome__but {
		font-size: 20px;
		line-height: 26px;
		padding: 20px 50px;
		margin-left: 0;
	}
}